<template>
    <Row>
        <div>Manager {{storeUser.name}} welcome back!</div>
    </Row>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'index',
    computed: {
        ...mapGetters('user', ['storeUser']),
    },
}
</script>