<template>
    <Row class="base-layout">
        <Row class="head">
            <div class="logo">
                <nuxt-link to="/">
                    <div class="logo-part">
                        <img class="icon" src="@/assets/images/laravel-icon.png" />
                    </div>
                    <div class="logo-part"> + </div>
                    <div class="logo-part">
                        <img class="icon" src="@/assets/images/nuxt-icon.svg" />
                    </div>
                </nuxt-link>
            </div>

            <button class="logout-btn" @click="logoutAction">登出</button>
        </Row>
        <Row class="body">
            <nuxt />
        </Row>
    </Row>
</template>

<script>
import { mapActions } from 'vuex';
import { validators } from '@/configs/api/user';

export default {
    name: 'BaseLayout',
    data() {
        return {
            storeUser: undefined,
        };
    },
    methods: {
        ...mapActions(['removeUserToken']),
        async logoutAction() {
            try {
                const { status, code } = await this.$api(validators.LogoutRequest, {});
                const successLogout = status && code === 200;
                if (successLogout) {
                    this.removeUserToken();
                    this.redirectToIndex();
                }
            } catch (error) {

            }
        },
        redirectToIndex() {
            this.$router.push({ name: 'index' });
        }
    },
    async asyncData({ store }) {
        const storeUser = store.getters['user/storeUser'];
        return {
            storeUser,
        }
    }
}
</script>

<style scoped>
.base-layout {
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
}

.base-layout .head {
    height: 40px;
    box-shadow: 0 0 5px 0 rgba(200, 200, 200, 0.8);
}

.base-layout .head .logo {
    height: 40px;
    margin: 0 20px;
    width: 150px;
    display: inline-block;
}

.base-layout .head .logo .logo-part {
    display: contents;

    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.base-layout .head .logo .logo-part .icon {
    height: 25px;
    width: auto;
    margin: 5px 0 0 0;
}

.base-layout .head .logout-btn {
position: absolute;
    right: 20px;
    float: right;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.base-layout .body {
    height: calc(100vh - 40px);
}
</style>