<template>
  <Row class="index">

  </Row>
</template>

<script>
export default {
  name: 'index',
  async asyncData({ app, store, redirect }) {
    const hasToken = store.getters.userToken;
    if (hasToken) {
      const isManager = store.getters['user/isManager'];
      const isUser = store.getters['user/isUser'];
      if (isManager) {
        redirect('/manager');
      }
      if (isUser) {
        redirect('/user');
      }
    }
    return {};
  }
}
</script>

<style scoped>

</style>
