<template>
    <Row class="login">
        <div class="login-form">
            <field v-for="(field, key) in loginForm.schema" :key="key"
                :label="field.label"
                :type="field.type"
                v-model="loginForm.data[key]"
                :errorMessages="loginForm.errorMessages[key]"
                :options="field.options"
                :edit="true">
            </field>
            <button>取消</button>
            <button @click="loginAction">送出</button>
        </div>
    </Row>
</template>

<script>
import Field from '@/components/Field';
import { validators } from '@/configs/api/user';
import { mapActions } from 'vuex';

export default {
    name: 'login',
    components: { Field },
    data() {
        return {
            loginForm: undefined,
        };
    },
    methods: {
        ...mapActions([ 'setUserToken' ]),
        ...mapActions('user', [ 'setUser' ]),
        async loginAction() {
            const apiInfo = validators.LoginRequest;
            try {
                const { status, code, data } = await this.$api(apiInfo, this.loginForm.data);
                const loginSuccess = status && code === 200;
                if (loginSuccess) {
                    this.setUserToken(data.token);
                    this.setUser(data.user);
                    this.redirectToIndex();
                }
            } catch (error) {
                if (error.number === 422) {
                    this.registerForm.errorMessages = error.validateError;
                }
                throw error;
            }
        },
        redirectToIndex() {
            this.$router.push({ name: 'index' });
        }
    },
    async asyncData({ store, redirect }) {
        const hasToken = store.getters['hasToken'];
        if (hasToken) {
            redirect('/');
        }
        
        const loginForm = {
            schema: {
                email: { label: 'Email', type: 'text' },
                password: { label: '密碼', type: 'password' },
            },
            data: {
                email: undefined,
                password: undefined,
            },
            errorMessages: {},
        };
        return { loginForm };
    },
}
</script>

<style scoped>
.login {
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgb(148, 175, 200);
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
}

.login .login-form {
    position: relative;
    top: 50%;
    width: 300px;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(200, 200, 200, 0.7);
}
</style>