<template>
    <Row class="register">
        <div class="register-form">
            <field v-for="(field, key) in registerForm.schema" :key="key"
                :label="field.label"
                :type="field.type"
                v-model="registerForm.data[key]"
                :errorMessages="registerForm.errorMessages[key]"
                :options="field.options"
                :edit="true">
            </field>
            <button>取消</button>
            <button @click="registerAction">送出</button>
        </div>
    </Row>
</template>

<script>
import Field from '@/components/Field';
import { validators } from '@/configs/api/user';

export default {
    name: 'register',
    components: { Field },
    methods: {
        async registerAction() {
            const apiInfo = validators.CreateUserRequest;
            try {
                const { status, code } = await this.$api(apiInfo, this.registerForm.data, "user");
                const registerSuccess = status && code === 200;
                if (registerSuccess) {
                    this.redirectToLogin();
                }
            } catch (error) {
                if (error.number === 422) {
                    this.registerForm.errorMessages = error.validateError;
                }
            }
        },
        redirectToLogin() {
            this.$router.push({ name: 'login' });
        }
    },
    async asyncData({ store, redirect }) {
        const hasToken = store.getters['hasToken'];
        if (hasToken) {
            redirect('/');
        }
        
        const registerForm = {
            schema: {
                name: { label: '姓名', type: 'text' },
                email: { label: 'Email', type: 'text' },
                password: { label: '密碼', type: 'password' },
                password_confirmation: { label: '確認密碼', type: 'password' },
            },
            data: {
                name: undefined,
                email: undefined,
                password: undefined,
                password_confirmation: undefined,
            },
            errorMessages: {},
        };

        return { registerForm };
    },

}
</script>

<style scoped>
.register {
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgb(148, 175, 200);
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
}

.register .register-form {
    position: relative;
    top: 50%;
    width: 300px;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(200, 200, 200, 0.7);
}
</style>